@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100dvw;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
